grey  = #B0B2AF
red   = #CA4441
green = #CFF09E

html
  height: 100%

body
  font-family: 'Belgrano', serif
  cursor: default
  height: 100%
  background: #444

header
  min-height: 40px
  max-height: 40px
  position: fixed
  width: 100%
  background: grey
  box-shadow: inset 0 -4px 40px rgba(0, 0, 0, 0.2)
  z-index: 3

  #logo
    font-size: 1.3em
    font-weight: normal
    margin: 0
    padding: 6px 0 0 10px
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5)
    color: #444

    span
      background: red
      padding: 1px 3px
      border-radius: 2px
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2)
      color: #222

#navigation
  position: absolute
  top: 0
  right: 8px

  a
    padding: 9px 4px 4px 26px
    display: block
    float: left
    position: relative
    text-decoration: none
    margin-left: 10px
    color: #222
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5)

    i
      font-size: 1.5em
      position: absolute
      top: 7px
      left: 0
      color: #444

#content
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 2
  text-align: center

  .inner
    padding: 40px 0 70px 0

#visual-key-wrapper
  width: 90%
  margin: 0 auto
  margin-top: 30px

  .error
    display: none

  #visual-key-input-wrapper
    border: 4px solid grey

  label
    background: grey
    display: block
    font-size: 1.2em
    padding: 10px 0
    width: 100%

  #visual-key-input
    background: white
    width: 100%
    border: none
    text-align: center
    padding: 10px 0
    font-size: 1.6em

  #visual-key-submit
    background: red
    width: 50%
    cursor: pointer
    border: none
    font-size: 1.6em
    margin-top: 15px
    border-radius: 2px
    padding: 7px 0

#playing
  display: none

#nohash
  display: none
  width: 90%
  margin: 0 auto

.info, .error
  background: green
  position: relative
  margin: 20px 0
  border-radius: 2px

  i
    position: absolute
    top: 7px
    left: 7px

  p
    padding: 5px 5px 5px 28px
    text-align: left
    margin: 0

.error
  background: red

.column
  float: left
  width: 50% //33%
  text-align: center

#controls
  background: grey
  min-height: 70px
  max-height: 70px
  height: 70px
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  box-shadow: inset 0 4px 40px rgba(0, 0, 0, 0.2)
  z-index: 3
  display: none

  a
    margin: 0 auto
    display: block
    width: 44px
    height: 44px
    background: rgba(0, 0, 0, 0.3)
    border-radius: 500px
    color: #222
    font-size: 1.4em
    position: relative
    margin-top: 13px
    border-bottom: 1px solid rgba(0, 0, 0, 0.6)

    i
      position: absolute
      top: 12px
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2)

  .left a i
    left: 9px

  .mid a i
    left: 15px

  .right a i
    left: 14px

body.paired
  #visual-key-wrapper
    display: none

  #controls
    display: block

  #logo span
    background: green

  #playing
    display: block
