@import url("http://fonts.googleapis.com/css?family=Belgrano");
body {
  font-family: 'Belgrano', serif;
  cursor: default;
}
#wrapper .column {
  float: left;
}
#wrapper .left {
  width: 60%;
}
#wrapper .right {
  width: 40%;
}
.logo {
  font-size: 3.8em;
  font-weight: normal;
  color: #ca4441;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
  padding-left: 60px;
}
.logo .io {
  color: #b0b2af;
}
.logo .slogan {
  color: #b0b2af;
  display: block;
  font-size: 0.4em;
}
#bullets {
  list-style: none;
  margin: 0;
  padding: 0 50px;
}
#bullets li {
  position: relative;
  background: rgba(0,0,0,0.6);
  min-height: 54px;
  border-radius: 3px;
  margin-top: 10px;
}
#bullets li i {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 2.8em;
  color: #3fc9ba;
}
#bullets li p {
  padding: 10px 0 10px 70px;
  color: #eee;
  font-size: 1.3em;
}
#right-wrapper {
  text-align: center;
  position: relative;
}
#verification-wrapper {
  margin-top: 110px;
  position: relative;
}
#verification-wrapper a {
  color: #ca4441;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  text-decoration: none;
}
#verification-wrapper a:hover {
  text-decoration: underline;
}
#verification-wrapper #qr-code {
  margin: 0 auto;
  background: #b0b2af;
  padding: 10px;
  width: 310px;
  box-shadow: 0 0 90px rgba(0,0,0,0.9);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
#verification-wrapper #qr-code img {
  border: 5px solid #fff;
}
#verification-wrapper #visual-code {
  background: rgba(176,178,175,0.8);
  width: 330px;
  margin: 0 auto;
  border-top: 1px solid rgba(0,0,0,0.3);
  padding-top: 10px;
  padding-bottom: 8px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#verification-wrapper #visual-code span {
  display: block;
  font-size: 3em;
  color: #000;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}
#verification-wrapper h2 {
  color: #b0b2af;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
  font-size: 2.8em;
  font-weight: normal;
  color: #ca4441;
  text-align: center;
  position: relative;
  top: -10px;
}
#verification-wrapper h2 i {
  display: block;
  font-size: 2em;
  text-shadow: 0 -2px 2px rgba(0,0,0,0.4);
}
#phone-wrapper {
  padding-top: 10px;
  position: relative;
}
#phone-wrapper #phone-content {
  background: url("../images/phone.png") no-repeat top center;
  min-height: 570px;
  position: relative;
  top: -26px;
  z-index: 301;
  text-align: center;
  padding-top: 68px;
}
#phone-wrapper #phone-content #phone-content-inner {
  margin: 0 auto;
  width: 263px;
  height: 440px;
  background: #222;
  box-shadow: inset 0 0 30px #000;
}
#phone-wrapper h2 {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
  font-size: 2.8em;
  font-weight: normal;
  position: relative;
  z-index: 302;
}
#phone-wrapper h2 i {
  display: block;
  font-size: 2em;
  text-shadow: 0 2px 2px rgba(0,0,0,0.4);
}
#isRemote {
  background: #222;
  text-align: center;
  overflow: auto;
}
#isRemote .logo {
  padding: 0;
  margin: 20px 0 40px 0;
  position: relative;
}
#isRemote .buttons {
  margin-bottom: 40px;
}
#isRemote .btn {
  font-size: 1.5em;
}
#isRemote #visual-code {
  margin: 0 auto;
  width: 90%;
}
#isRemote #visual-code label {
  display: block;
  font-size: 1.2em;
  padding: 6px 0;
  background: #b0b2af;
  text-shadow: 2px 2px 0 rgba(255,255,255,0.3);
}
#isRemote #visual-code input[type="text"] {
  width: 100%;
  border: none;
  background: rgba(202,68,65,0.6);
  font-size: 2em;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
#isRemote #visual-code #visual-code-submit {
  width: 100%;
  background: #ca4441;
  border: none;
  font-size: 2.4em;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}
#logo.paired,
.paired {
  color: #cff09e !important;
}
.buttons {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 70px;
}
.buttons .btn {
  border: 1px solid #111;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background: #111;
  font-size: 1.2em;
  padding: 20px 0;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}
.buttons .btn .dim-off {
  color: #ca4441;
}
.buttons .btn .dim-on {
  color: #cff09e;
}
body.isPaired #visual-code {
  display: none;
}
body.isPaired #buttons {
  display: block;
}
body.isPaired .subscribe {
  display: block;
}
.subscribe {
  display: none;
}
#buttons {
  display: none;
}
#phone-content-inner h4 {
  font-size: 1.9em;
  margin: 0;
  padding: 20px 0 30px 0;
}
.subscribe {
  margin: 0 auto;
  width: 90%;
}
.subscribe label {
  display: block;
  font-size: 1.2em;
  padding: 6px 0;
  background: #ca4441;
  text-shadow: 2px 2px 0 rgba(255,255,255,0.1);
  cursor: pointer;
}
.subscribe input[type="text"] {
  width: 100%;
  border: none;
  background: rgba(202,68,65,0.6);
  font-size: 1.4em;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
.subscribe input[type="submit"] {
  width: 100%;
  background: #ca4441;
  border: none;
  font-size: 1em;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  padding: 10px 0;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.9);
}
#subscribe-wide {
  width: 100%;
  margin: 40px 0 0 50px;
  max-width: 500px;
  display: block;
  position: relative;
}
#subscribe-wide input[type="submit"] {
  width: 105px;
  height: 62px;
  font-size: 1em;
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 0 0 0 4px;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.3);
}
#subscribe-wide input[type="submit"]:hover {
  text-decoration: underline;
}
#subscribe-wide input[type="text"] {
  text-align: left;
  position: absolute;
  top: 0;
  left: 113px;
  height: 62px;
  width: 495px;
  padding: 0 30px;
}
#phone-content .subscribe {
  display: block;
}
#steps {
  list-style: none;
  margin: 30px 0 0 50px;
  padding: 0;
}
#steps li {
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}
#steps li:hover h4 span {
  text-decoration: underline;
}
#steps li .image-wrapper {
  position: relative;
  width: 105px;
  height: 100px;
  overflow: hidden;
  border: 4px solid rgba(0,0,0,0.6);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#steps li .image-wrapper img {
  position: absolute;
}
#steps li h4 {
  position: absolute;
  top: 40px;
  left: 140px;
  color: #b0b2af;
  font-weight: normal;
  font-size: 1.6em;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}
#steps li h4 span {
  color: #ca4441;
}
#steps li .content {
  position: absolute;
  top: 50px;
  left: 308px;
  background: rgba(0,0,0,0.6);
  width: 360px;
  display: none;
}
#steps li .content p {
  padding: 10px 14px;
  color: #fff;
  min-height: 106px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#steps li .content p:hover h4 span {
  text-decoration: underline;
}
#steps li .content p a {
  color: #888;
  text-decoration: none;
}
#steps li .content p a:hover {
  text-decoration: underline;
}
#steps li.step1.open,
#steps li.step2.open,
#steps li.step3.open {
  cursor: default;
}
#steps li.step1.open:hover h4 span,
#steps li.step2.open:hover h4 span,
#steps li.step3.open:hover h4 span {
  text-decoration: none;
}
#steps li.step1.open .image-wrapper,
#steps li.step2.open .image-wrapper,
#steps li.step3.open .image-wrapper {
  width: 300px;
  height: 168px;
}
#steps li.step1.open .image-wrapper img,
#steps li.step2.open .image-wrapper img,
#steps li.step3.open .image-wrapper img {
  top: 0;
  left: 0;
}
#steps li.step1.open .content,
#steps li.step2.open .content,
#steps li.step3.open .content {
  display: block;
}
#steps li.step1.open h4,
#steps li.step2.open h4,
#steps li.step3.open h4 {
  top: 10px;
  left: 320px;
  font-size: 1.3em;
}
#steps li.step1 .image-wrapper img {
  top: -69px;
  left: -160px;
}
#steps li.step2 .image-wrapper img {
  top: -69px;
  left: -120px;
}
#steps li.step3 .image-wrapper img {
  top: -60px;
  left: -60px;
}
#bendme {
  margin-top: 30px;
}
#haeh {
  position: fixed;
  top: 6px;
  right: 14px;
  cursor: pointer;
  color: rgba(255,255,255,0.5);
  font-size: 1.5em;
  z-index: 400;
}
#haeh:hover {
  color: rgba(255,255,255,0.8);
}
#credits {
  background: rgba(255,255,255,0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 400;
  color: #222;
  box-shadow: 0 0 20px #000;
  display: none;
}
#credits .close {
  position: absolute;
  top: 7px;
  left: 20px;
  cursor: pointer;
}
#credits .close:hover {
  color: #ca4441;
}
#credits p {
  padding: 6px 0 6px 54px;
  font-size: 0.8em;
}
#credits a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
#credits a:hover {
  text-decoration: underline;
}
